<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>City List</title>
</head>
<body>
    <h1>City list </h1>
        <table border="1">
            <tr>
                <th>City Name</th>
                <th>Population</th>
            </tr>
            <tr th:each="city:${cityList}">
                <td th:text="${city.name}"></td>
                <td th:text="${city.population}"></td>
            </tr>
        </table>
<a th:href="@{/}">Homepage</a>

</body>
</html>